@{
    ViewBag.Title = "Home Page";
}
@Html.Action("Team")

@Html.Action("HandCraft")
@Html.Action("Apply")

@Html.Action("BannerBottom")
@Html.Action("Gallery")
<section class="about py-lg-5 py-md-5 py-3">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5 py-3">
            @Html.Action("Service")
            @Html.Action("Featured")
        </div>
    </div>
</section>

@Html.Action("Feedback")

